* {
	box-sizing: border-box;
}

body {
	background-color: hsl(233, 47%, 7%);
	color: hsl(0, 0%, 100%);
	padding: 1.5rem;
	margin: 0;
}

main {
	background-color: hsl(244, 38%, 16%);
	border-radius: 0.8rem;
}

span {
	color: hsl(277, 64%, 61%);
}

header {
	position: relative;
}

header img {
	max-width: 100%;
	border-radius: 0.8rem 0.8.rem 0 0;
	filter: opacity(0.5) drop-shadow(0 0 0 hsl(74, 1, 88));
}

/* header:after {
	content: ' ';
	background-color: hsl(277, 48%, 51%, 0.52);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
} */

main > section {
	pad: 1.5rem;
}

h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 2.2rem;
}

p {
	font-family: 'Lexend Deca';
	font-weight: 400;
	text-align: center;
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.6rem;
}

section > section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	text-align: center;
}

article p {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

article {
	line-height: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding: 10px;
}

.attribution a {
	color: hsl(2, 95%, 50%);
}

/* DESKTOP*/
@media (min-width: 769px) {
	main {
		display: flex;
		flex-direction: row-reverse;
	}

	main > section {
		width: 540px;
	}

	section > section {
		flex-direction: row;
		justify-content: space-evenly;
	}
}
