body {
	background-color: rgb(4, 75, 122);
}

h2 {
	text-align: center;
}

.topHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	background-color: white;
}

/*wszyscy potomkowie topHeader */
.topHeader h1,
.topHeader nav {
	margin: 2px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.topArticle {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topArticle header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formHeader {
	color: white;
	text-align: center;
}

.messageForm {
	border: 2px dashed red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	color: white;
	display: flex;
	justify-content: end;
}

@media (min-width: 768px) {
	.topArticle {
		flex-direction: row;
	}
	.topArticle header,
	.topArticle table {
		flex: 1;
	}
}
